// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color-light-pink: #FCB7A8;
$color-red: #ED6a40;
$color-grey: #758086;
$color-dark-grey: #2B4448;

$color-tan: #ffd5af;
$color-blue: #052b4a;
