<div class="container pb-5 pt-5">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h1>See our latest casting calls!</h1>
          <% if current_user %>
            <%= link_to jobs_new_path, class: 'btn btn-info btn-icon' do %>
              Create job posting
              <i class="fas fa-plus"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% @jobs.each do |job| %>
      <div class="row">
        <div class="col-12 mb-4">
          <%= render "job-card", job: job %>
        </div>
      </div>
    <% end %>
</div>
