<div class="container pb-5 pt-5">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h1>See our latest casting calls!</h1>
          <%= link_to 'Create new listing', jobs_new_path, class: 'btn btn-primary' if current_user %>
        </div>
      </div>
    </div>
    <% @jobs.each do |job| %>
      <div class="row">
        <div class="col-12 mb-4">
          <%= render "job-card", job: job %>
        </div>
      </div>
    <% end %>
</div>
