<div class="container">
  <div class="row">
    <h1>This is the job listing.</h1>
    <% @jobs.each do |job| %>
    <div class="col-12 mb-2">
      <%= render "shared/job-card", job: job %>
    </div>
    <% end %>
  </div>
</div>
