<div class="container pb-5 pt-5">
  <div class="row">
    <div class="col-12">
      <h1><%= @job.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'roles-accordion', job: @job %>
    </div>
  </div>
</div>
