<div class="container">
  <h2>Find the right performers for your next product shoot</h1>
  <div class="user-grid">
    <% @performers.each do |performer| %>
      <%= render 'user-card', performer: performer %>
    <% end %>
  </div>
</div>
