<footer class="mt-5">
  <div class="container">
    <div class="row justify-content-center pb-5 pt-5">
      <div class="col-12 text-center text-white">
        <p>
          <strong class="text-primary">ExtraHelp!</strong> Made with love ❤️ by future coders! &copy; 2020
        </p>
      </div>
    </div>
  </div>
</footer>
