<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= job.title %></h5>
    <p class="card-text"><%= job.description %></p>
    <%= link_to "view details", job_path(job), class: "btn btn-primary" %>
  </div>
</div>
